<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/web3.min.js"></script>
    <script src="./process.js"></script>
    <script src="./main.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="info">
        <img  id="btn_ConnectMM" style="width: 100px; height: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/MetaMask_Fox.svg/1200px-MetaMask_Fox.svg.png">
        <h3 id="account"></h3>
        <h3 id="eth_count"></h3>
    </div>
    <div id="app">
        <img class="marker" src="./marker.png" />
        <img class="wheel" src="./wheel.png" />
        <img id="play_btn" class="button" src="./button.png" />
    </div>

    <script src="./main.js"></script>
</body>
</html>